<div id="text" class="span8" >
  <p>We gave you two sides and an angle between them. Does that combination seem to guarantee triangles with identical shapes?</p></div>
  <div id="form" class="span2 form-inline">
    <%= form_tag("results", :method => :post, :remote => "true") do %>
		<%= hidden_field(:triangle, :id, :value => @triangle.id) %>
        <%= submit_tag("Yes", :class => "btn btn-large btn-primary", :name => "yes")%>
        <%= submit_tag("No", :class => "btn btn-large btn-primary", :name => "no")%>
      </div>
    <% end %>
  </div>
</div>